@media screen and (min-width:400px) {

    /* 主框 */
    #admin {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: bisque;
        display: flex;
        flex-direction: column;
    }

    /* 登录板 */
    .login {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2px);
    }

    .login_beg {
        padding: 2%;
        background-color: rgba(104, 104, 104, 0.411);
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        border-radius: 5%;
    }

    .login_title {
        text-align: center;
        font-size: 2vw;
        color: #fff;
        font-weight: 800;
        border-bottom: 1px #fff solid;
        padding-bottom: 0.5vw;
    }


    .login_pwd {
        width: 20vw;
        height: 2vw;
        margin-top: 0.5vw;
        text-align: center;
        font-size: 1.5vw;
    }
}