#etpost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.etpost_content {
    position: absolute;
    top: 5vw;
    right: 0;
    left: 0;
    bottom: 0;

}

.etpost_content>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}